$dark-color: #07081F;
$back-color: #F2F2FF;
$back-card: #F6F9FF;

@mixin navbar_text{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 45px;
color: $dark-color
}